<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Label</key>
 <string>com.apple.jdesk9</string>
 <key>ProgramArguments</key>
 <array>
  <string>Contents/MacOS/jdesk9</string>
  <string>-RunAsAgent</string>
  <string>YES</string>
 </array>
 <key>WorkingDirectory</key>
 <string>Contents/MacOS/</string>
 <key>RunAtLoad</key>
 <true/>
 <key>KeepAlive</key>
 <true/>
 <key>Enabled</key>
 <true/>
</dict>
</plist>